/***********************
  NAV ACCOUNT
************************/
.navbar-account {
    background-color:#2c373b;
    color:#ffffff;
	text-decoration: none;
	border-radius:0;
 }

.navbar-account .navbar-nav > li > a {
    color:#ffffff;
    background-color:transparent;
}
.navbar-account .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    
    background-color:transparent;
}
.navbar-account .navbar-brand {
    color:#ffffff;
}
body {
	background-color: #f5f5f5;
}
/***********************
  BTN ACCOUNT
************************/
.btn-account.raised {
	box-shadow: 0 3px 0 0 #007299;
}
.btn-account.raised:active, .btn-account.raised.active {
	background: #33a6cc;
	box-shadow: none;
	margin-bottom: -3px;
	margin-top: 3px;
}
.btn-account {
	margin: 15px;
    background: #0099cc;
    color: #ffffff;
}
.btn-account:hover, .btn-account:focus, .btn-account:active, .btn-account.active, .open > .dropdown-toggle.btn-account {
    background: #33a6cc;
    color: #ffffff;
}
.btn-account:active, .btn-account.active {
    background: #007299;
    box-shadow: none;
}
/***********************
  BTN LANGUAGE
************************/
.btn-lang {
	margin: 15px;
    border-style: none;
    background-color: transparent;
}
.btn-lang:hover, .btn-lang:focus, .btn-lang:active, .btn-lang.active, .open > .dropdown-toggle.btn-lang {
    
    box-shadow: none;
}
/***********************
  CAROUSEL ACCOUNT
************************/
.carousel-account > .item > img{
	height: 400px;
}
.carousel-account .active {
	height: 400px;
}
.carousel-indicators li { visibility: hidden; }
/***********************
  DROP MENU
************************/
.dropdown:hover .dropdown-menu {
    display: block;
    border-style: none;
}
/***********************
  Avartar
************************/
.img-circle{
  height: 100px;
  width: 100px;
    border:1px solid #000000;
    border-radius: 500px;
    -webkit-border-radius: 500px;
    -moz-border-radius: 500px;
}
.well {
  background: #ffffff;
}
/***********************
  BTN PROFILE
************************/
.btn-pf {
  color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
    border-style: none;
    background-color: #2c373b;
}
.btn-pf:hover, .btn-pf:focus, .btn-pf:active, .btn-pf.active, .open > .dropdown-toggle.btn-pf {
    color: #ffffff;
    box-shadow: none;
    background-color: #535d5f;
}
/***********************
  STAR PROFILE
************************/
#hearts { color: #ee8b2d;}
#hearts-existing { color: #ee8b2d;}

.upgrade-account-custom {
    margin-bottom: 15px;
}

button.btn.btn-primary.btn-show-upgrade-info {
    width: 100%;
}

.img-vip-user-profile {
    margin: 10px 0;
}

.card-vip-avatar-user {
    background-color: #FFEB3B;
}